*.dSYM
*.DS_Store
*._.DS_Store
*.cor
README.md
Makefile_bk
*.o
temp/
cmake-build-debug/
a.out
a.out.dSYM/
test_main.c
libft_bk
back_all/
asm.dSYM
asm_or
*.cor_ref
assembleur/test.txt
assembleur/tests/
old_asm
CMakeLists.txt
assembleur/asm
libft/libft.a
assembleur/asm_or
corewar/assembleur
.gitignore
